#include "Common.xcconfig"
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Config/Plists/SoloCode-Info.plist
PRODUCT_BUNDLE_IDENTIFIER = com.solocode.app
PRODUCT_NAME = Solo Code
PRODUCT_MODULE_NAME = CoderIDE
EXECUTABLE_NAME = Solo Code
SWIFT_EMIT_LOC_STRINGS = NO
